
/*GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway&display=swap');
/* VARIABLES CSS */
:root {
    --header-height: 3rem;

/* COLORS */
    --hue-color: 51;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 70%, 61%);
    --dark-color: #ffc517;
    --dark-color-alt: #3a3b3f;
    --white-color: #ffffff;
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margen Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}


.header{
    background: #ffc517;
}

img{
    width: 30px;
}

.header nav{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.nav__perfil{
    display: flex;
    align-items:center;
}

.salqua{
    color: var(--white-color);
    display: flex;
}
.header nav ul{
    list-style: none;
}


a{
    text-decoration: none;
    font-size: var(--normal-font-size);
    color: var(--white-color);
    display: block;
    padding: 12px 20px;
    display: block;
}

a:hover{
    background: rgb(44, 44, 44);
}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header nav ul li ul{
    flex-direction: column;
    justify-content: center;
}



.header nav ul li ul{
    position: absolute;
    background: var(--dark-color);
}


.header nav ul li ul li{
    width: 180px;
    position: relative;
}

.header nav ul li ul li ul{
    top: 0;
    left: 180px;
    position: absolute;
}

.header nav ul li ul{
    display: none;
}

.header nav ul li:hover > ul{
    display: block;
}